*, html, body {
    top: 0;
    left: 0;
    border: 0;
    margin: 0;
    padding: 0;

    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #333;
}

body {
    background: url("images/brickBackground.png") #f5f5f5;
}

a { text-decoration: none; }
small { font-size: 10px; }

.fltLft { float: left; }
.fltRght { float: right; }
.clrBth { clear: both; }
.dspN { display: none !important; }
.dspB { display: block; }

.color888 { color: #888; }
.blueLink { color: #0747A6; }
.blueLink:hover { text-decoration: underline; }

.TextBar {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
}

.InformationBar {
    color: #333333;
    background: #FEF2B8;
    border-color: #D1CC81;
}

.btn {
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    border-radius: 5px; /* https://www.w3schools.com/css/css3_borders.asp */
    box-shadow: 1px 1px 1px #888888;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}
.btn.fltLft { margin-right: 15px; }
.btn.fltRght { margin-left: 15px; }

.greenBtn { background-color: #4CAF50; }
.blueBtn { background-color: #008CBA; }
.blackBtn { background-color: #666; }
.redBtn { background-color: #f44336; }
.bgf5 { background-color: #f5f5f5; }
.bgfff { background-color: #fff; }
.bgEEE { background-color: #eee; }

.w20 { width: 20%; }
.w100 { width: 100%; }
.margintop15 { margin-top: 15px; }
.padding10t { padding-top: 10px; }
.padding10tb { padding: 10px 0; }
.padding6 { padding: 6px; }
.padding7 { padding: 7px; }
.divcenter { margin: 0 auto; }

.bordertop {
    border-width: 1px 0 0 0;
    border-style: solid;
}
.borderbottom {
    border-width: 0 0 1px 0;
    border-style: solid;
}
.bordercolorAAA { border-color: #aaa; }

.Header {
    width: 100%;
    height: 40px;
    background: #222;
    float: left;
}

.HeaderContent {
    width: 1200px;
    margin: 0 auto;
}

.Header nav {
    width: 390px;
    margin: 0 auto;
}

.Header .item {
    color: #eee;
    text-decoration: none;
    display: block;
    padding: 12.5px 15px;
}

.Header nav a:hover {
    color: #fff;
    text-decoration: underline;
    /*background: #444;*/
}

.Header nav a.active {
    color: #fff;
    background: #0747A6;
}

.Container {
    width: 100%;
    height: auto;
    float: left;
    clear: both;
}

.Content {
    clear: both;
    width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px;
    box-sizing: border-box;
    background: #f5f5f5;
}

.ContentTitle {
    font-family: 'Asap', sans-serif;
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
}

table.list {
    margin: 20px 0;
    float: left;
}

table.list thead th {
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    color: #888;
    padding-bottom: 10px;
    border-bottom: 1px #bbb solid;
}

table.list tbody tr td {
    padding: 10px 0;
    text-align: center;
}

table.list tbody tr:nth-child(even) {
    background-color: #eee;
}

form table input[type=text], form table input[type=date], form table input[type=password], form table select {
    display: block;
    width: 50%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    outline: none;
}