<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/template :: Template">
</head>
<body>
    <div class="Header" th:replace="fragments/header :: Header (activeMenuItem=${'boattrips'})"></div>

    <div class="Container">
        <div class="Content">
            <h2 class="ContentTitle">Oplysninger om ny bådtur</h2>
            <span th:replace="fragments/subnavigation.html :: boattrip_subnav (boattripnavExt=${'yes'})"></span>
            <form action="/form_boattrip" method="POST" class="clrBth fltLft margintop15 w100 boattrip_form">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <label for="boattrip_matey">Vælg matros</label><br>
                            <select size="1" id="boattrip_matey" name="boattrip_matey">
                                <option value="">Matroser</option>
                                <option th:each="matey : ${Mateys}" th:value="${matey.memberID}">
                                    <span th:text="${matey.firstName + ' ' + matey.lastName + ' (' + matey.memberID + ')'}"></span>
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="margintop15 dspB">
                            <label for="boattrip_datestamp">Turens startdato</label>
                            <input type="date" name="boattrip_datestamp" id="boattrip_datestamp" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="margintop15 dspB">
                            <label for="boattrip_guests">Gæster på turen</label>
                            <span class="moreGuests">
                                <span class="cta">+ tilføj en gæst mere</span>
                                <input type="text" name="boattrip_guests[]" value="" placeholder="Indtast navn på en gæst mere..."  />
                            </span>
                            <div class="theGuests">
                                <input type="text" name="boattrip_guests[]" id="boattrip_guests" value="" placeholder="Indtast navn på en gæst mere..."  />
                            </div>
                            <style type="text/css">
                                .moreGuests input { display: none !important; }
                                .moreGuests .cta {
                                    border: 2px #aaa dashed;
                                    padding: 10px;
                                    display: block;
                                    width: 20%;
                                    margin-bottom: 5px;
                                }

                                .moreGuests .cta:hover {
                                    cursor: pointer;
                                    border-color: #666;
                                    color: #666;
                                }
                            </style>
                        </td>
                    </tr>
                    <tr>
                        <td class="bgEEE margintop15 padding10tb dspB bordertop bordercolorAAA">
                            <strong>Detaljer om turen ...</strong>
                            <label for="boattrip_distance" class="dspB clrBth padding10t">Turens længde i meter</label>
                            <input type="text" name="boattrip_distance" id="boattrip_distance" value="" placeholder="Hvor lang er turen?" />
                        </td>
                    </tr>
                    <tr>
                        <td class="bgEEE padding10tb dspB">
                            <label for="boattrip_estduration">Cirka tidsforbrug i minutter</label>
                            <input type="text" name="boattrip_estduration" id="boattrip_estduration" value="" placeholder="Hvor længe varer turen?" />
                        </td>
                    </tr>
                    <tr>
                        <td class="bgEEE padding10tb dspB">
                            <label for="boattrip_location">Turens destination</label>
                            <input type="text" name="boattrip_location" id="boattrip_location" value="" placeholder="Hvor går turen hen?" />
                        </td>
                    </tr>
                    <tr>
                        <td class="bgEEE padding10tb dspB borderbottom bordercolorAAA">
                            <label for="boattrip_predetermined"><strong>... eller vælg en allerede defineret tur</strong></label>
                            <select size="1" name="boattrip_predetermined" id="boattrip_predetermined" class="dspB margintop15 boattrip_predetermined">
                                <option>Skabelon-ture</option>
                                <option th:each="predet : ${PreDetTrips}" th:value="${predet.preID}" th:location="${predet.location}" th:distance="${predet.distance}" th:duration="${predet.preEstDuration}" th:text="${predet.location+ ': ca. ' + predet.distance + 'km (' + predet.preEstDuration + ')'}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="margintop15 dspB">
                            <input type="submit" name="submit" class="btn w blueBtn fltLft" value="Opret tur og luk" />
                            <input type="submit" name="submit" class="btn w greenBtn" value="Opret tur, check ind og luk" />
                        </td>
                    </tr>
                </table>
            </form>
            <div class="clrBth"></div>
        </div>
    </div>
</body>