<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/template :: Template">
</head>
<body>
<div class="Header" th:replace="fragments/header :: Header (activeMenuItem=${'boattrips'})"></div>

<div class="Container">
    <div class="Content">
        <h2 class="ContentTitle">Oplysninger om eksisterende bådtur</h2>
        <span th:replace="fragments/subnavigation.html :: boattrip_subnav (boattripnavExt=${'yes'})"></span>
        <a th:href="${(BoatTrip.CompletionTime > 0 ? '#' : (BoatTrip.OnWater ? '/boattrip_status?tripID='+BoatTrip.BoatTripID+'&action=co' : '/boattrip_status?tripID='+BoatTrip.BoatTripID+'&action=ci'))}" th:class="${(BoatTrip.CompletionTime > 0 ? 'greyBtn color888' : (BoatTrip.OnWater ? 'redBtn' : 'blueBtn')) + ' btn w20 fltLft'}" th:text="${(BoatTrip.CompletionTime > 0 ? 'Afsluttet' : (BoatTrip.OnWater ? 'Check ud' : 'Check ind'))}"></a>
        <form action="/edit_boattrip" method="POST" class="clrBth fltLft margintop15 w100 boattrip_form">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="margintop15 dspB">
                        <span class="dspB">Turens matros</span>
                        <strong th:text="${Matey}"></strong>
                    </td>
                </tr>
                <tr>
                    <td class="margintop15 dspB">
                        <label for="boattrip_datestamp">Turens startdato</label>
                        <input type="date" name="boattrip_datestamp" id="boattrip_datestamp" th:value="${BoatTrip.Datestamp}" />
                    </td>
                </tr>
                <tr>
                    <td class="margintop15 dspB">
                        <label for="boattrip_guests">Gæster på turen</label>
                        <span class="moreGuests">
                                <span class="cta">+ tilføj en gæst mere</span>
                                <input type="text" name="boattrip_guests[]" value="" placeholder="Indtast navn på en gæst mere..."  />
                            </span>
                        <div class="theGuests">
                            <span th:each="BoatTripLink : ${BoatTripLinks}">
                                <input type="text" name="boattrip_guests[]" id="boattrip_guests" th:value="${BoatTripLink.FirstName + ' ' + BoatTripLink.LastName}" placeholder="Indtast navn på en gæst mere..."  />
                            </span>
                        </div>
                        <style type="text/css">
                            .moreGuests input { display: none !important; }
                            .moreGuests .cta {
                                border: 2px #aaa dashed;
                                padding: 10px;
                                display: block;
                                width: 20%;
                                margin-bottom: 5px;
                            }

                            .moreGuests .cta:hover {
                                cursor: pointer;
                                border-color: #666;
                                color: #666;
                            }
                        </style>
                    </td>
                </tr>
                <tr>
                    <td class="bgEEE margintop15 padding10tb dspB bordertop bordercolorAAA">
                        <strong>Detaljer om turen ...</strong>
                        <label for="boattrip_distance" class="dspB clrBth padding10t">Turens længde i meter</label>
                        <input type="text" name="boattrip_distance" id="boattrip_distance" th:value="${BoatTrip.Distance}" placeholder="Hvor lang er turen?" />
                    </td>
                </tr>
                <tr>
                    <td class="bgEEE padding10tb dspB">
                        <label for="boattrip_estduration">Cirka tidsforbrug i minutter</label>
                        <input type="text" name="boattrip_estduration" id="boattrip_estduration" th:value="${BoatTrip.EstDuration}" placeholder="Hvor længe varer turen?" />
                    </td>
                </tr>
                <tr>
                    <td class="bgEEE padding10tb dspB">
                        <label for="boattrip_location">Turens destination</label>
                        <input type="text" name="boattrip_location" id="boattrip_location" th:value="${BoatTrip.Location}" placeholder="Hvor går turen hen?" />
                    </td>
                </tr>
                <tr>
                    <td class="bgEEE padding10tb dspB borderbottom bordercolorAAA">
                        <label for="boattrip_predetermined"><strong>... eller vælg en allerede defineret tur</strong></label>
                        <select size="1" name="boattrip_predetermined" id="boattrip_predetermined" class="dspB margintop15 boattrip_predetermined">
                            <option>Forudbestemte ture</option>
                            <option th:each="predet : ${PreDetTrips}" th:value="${predet.preID}" th:location="${predet.location}" th:distance="${predet.distance}" th:duration="${predet.preEstDuration}" th:text="${predet.location+ ': ca. ' + predet.distance + 'km (' + predet.preEstDuration + ')'}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="margintop15 dspB">
                        <input type="submit" name="submit" class="btn w greenBtn fltLft" value="Gem ændringer og luk" />
                    </td>
                </tr>
            </table>
            <input type="hidden" name="boatrip_id" th:value="${BoatTrip.BoatTripID}" />
        </form>
        <div class="clrBth"></div>
    </div>
</div>
</body>