<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Protokolsystem for Københavns Roklub</title>
    <link rel="stylesheet" href="template.css" />
</head>
<body>
    <div class="Header">
        <nav class="menu">
            <a href="/welcome" class="active">Start</a>
            <a href="/booking">Booking</a>
            <a href="/register">+ New member</a>
            <a href="/admin">Administration</a>
        </nav>
        <div style="clear: both;"></div>
    </div>

    <div class="Container">
        <div class="Content">
            <a class="btn greenBtn w20 fltLft" href="#">Nyt medlem</a>
            <a class="btn greenBtn w20 fltLft" href="#">Ny tur</a>
            <table width="100%" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>Booking nummer</th>
                        <th>Er båden på vandet?</th>
                        <th>Antal personer i båden</th>
                        <th>Handlinger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="BoatTrip : ${boattripAttr}">
                        <!--<td th:text="${BoatTrip.BoatTripID}"></td>
                        <td th:text="${BoatTrip.BoatTrip}"></td>
                        <td th:text="${booking.booking_count_passengers}"></td>
                        <td>
                            <a th:href="${'/read_student?studID=' + booking.booking_id}" class="btn blueBtn w20 fltLft">Details</a>
                            <a th:href="${'/update_student?studID=' + booking.booking_id}" class="btn blackBtn w20 fltLft">Edit</a>
                            <a th:href="${'/delete_student?studID=' + booking.booking_id}" class="btn redBtn w20 fltLft">Delete</a>
                        </td>-->
                        <td colspan="4">Lorem ipsum</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>