<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Protokolsystem for Københavns Roklub</title>
    <link rel="stylesheet" href="template.css" />
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet" />
</head>
<body>
    <div class="Header">
        <div class="HeaderContent">
            <nav class="menu">
                <a href="/welcome" class="active fltLft item">Start</a>
                <a href="/boattrips" class="fltLft item">Bådture</a>
                <a href="/boats" class="fltLft item">Bådtyper</a>
                <a href="/admin" class="fltLft item">Administration</a>
            </nav>
            <small class="fltRght item" th:text="${ProtocolPageDatestamp}"></small>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="Container">
        <div class="Content">
            <h2 class="ContentTitle">Oversigt over aktuelle bådture</h2>
            <a class="btn greenBtn w20 fltLft" href="#">Nyt medlem</a>
            <a class="btn greenBtn w20 fltLft" href="#">Ny tur</a>
            <span class="TextBar InformationBar fltLft w20 padding6">
                Der er
                <strong th:text="${boattripOut + (boattripOut > 1 ? ' både' : ' båd')}"></strong>
                 på vandet lige nu
            </span>
            <table width="100%" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>Tur nummer</th>
                        <th>Er båden på vandet?</th>
                        <th>Antal personer i båden</th>
                        <th>Handlinger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="BoatTrip : ${boattripList}">
                        <td th:text="${BoatTrip.BoatTripID}"></td>
                        <td th:text="${BoatTrip.BoatID}"></td>
                        <td th:text="${BoatTrip.Distance}"></td>
                        <td>
                            <a th:href="${'/read_student?studID=' + BoatTrip.BoatTripID}" class="btn blueBtn w20 fltLft">Details</a>
                            <a th:href="${'/update_student?studID=' + BoatTrip.BoatTripID}" class="btn blackBtn w20 fltLft">Edit</a>
                            <a th:href="${'/delete_student?studID=' + BoatTrip.BoatTripID}" class="btn redBtn w20 fltLft">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clrBth"></div>
        </div>
    </div>
</body>
</html>