<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Protokolsystem for Københavns Roklub</title>
    <link rel="stylesheet" href="template.css" />
</head>
<body>
    <div class="Header">
        <nav class="menu">
            <a href="/welcome" class="active">Start</a>
            <a href="/booking">Booking</a>
            <a href="/register">+ New member</a>
            <a href="/admin">Administration</a>
        </nav>
        <div style="clear: both;"></div>
    </div>

    <div class="Container">
        <div class="Content">
            <table width="100%" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Båd på vandet</th>
                        <th>Antal i båden</th>
                        <th>Handlinger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="booking : ${bookingAttr}">
                        <td th:text="${booking.booking_id+'.'}"></td>
                        <td th:text="${booking.booking_on_water}"></td>
                        <td th:text="${booking.booking_count_passengers}"></td>
                        <td>
                            <a th:href="${'/read_student?studID=' + booking.booking_id}" class="blueLink btn btn-details">Details</a>
                            <a th:href="${'/update_student?studID=' + booking.booking_id}" class="blueLink btn btn-ed">Edit</a>
                            <a th:href="${'/delete_student?studID=' + booking.booking_id}" class="blueLink btn btn-del">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>